################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/AppLayoutExample/.vs/AppLayoutExample/v15/Server/sqlite3
